{
    "client_id": "*.apps.googleusercontent.com",
    "client_secret": "secret",
    "configs": {
        "default": {
            "users": ["bob@example.com", "bob@acme.com"],
            "ccAccountId": "fc5d75a9-c0f2-417d-a0a5-eef2321baa04"
        },
        "private": {
            "users": ["bob@example.com"],
            "ccAccountId": "fc5d75a9-c0f2-417d-a0a5-eef2321baa04"
        },
        "work": {
            "users": ["bob@acme.com"],
            "ccAccountId": "ff1e8ac6-317f-404d-91a6-1f8b7595b8d6"
        }
    },
    "tokens": {}
    }
}
